[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = {extras = ["d"],version = "==20.8b1"}
pytest = "*"
mypy = "*"
pytest-cov = "*"
tox = "*"
requests = "*"
sqlalchemy-stubs = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"],version = "*"}
alembic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
