[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==24.3.0"
pytest = "*"
mypy = "*"
pytest-cov = "*"
tox = "*"

[packages]

[requires]
python_version = "3.8"
